.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:root {
  --primary: #227093;
  --secondary: #ff5252;
  --background: #eee;
  --highlight: #ffda79;
  --shadow: #9a9a9a;
  --font: #FE0AFA;
  --link: #1CF432;
  /* Theme color */
  --theme: var(--primary);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.priShadow {
  box-shadow: 0 0.25em 0.75em #22709375;
}
.priShadowInset {
  box-shadow: 0 0 1em 0.06em #22709375 inset;
}
.secShadow {
  box-shadow: 0 0.25em 0.75em #ff525275;
}
.secShadowInset {
  box-shadow: 0 0 1em 0.06em #ff525275 inset;
}
.bgShadow {
  box-shadow: 0 0.25em 0.75em #9A9A9A75;
}
.bgShadowInset {
  box-shadow: 0 0 1em 0.06em #9A9A9A75 inset;
}
.highShadow {
  box-shadow: 0 0.25em 1.75em #B8A25475;
}
.highShadowInset {
  box-shadow: 0 0 1em 0.06em #B8A25475 inset;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-image: url('../img/hex.png');
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25em 1.75em #B8A25475;
  width: 90%;
  padding: 1em;
  margin-top: 1em;
  background-color: #9A9A9A75;
}
body header .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
body header .row img {
  max-width: 150px;
}
body header .row nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
body main .policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9A9A9A;
  width: 100%;
  padding: 1em;
  flex-wrap: wrap;
}
body main .policy .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main .row #reg {
  display: none;
}
body main .row button {
  font-size: 1.2em;
}
body main .row form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  margin: 1em;
}
body main .row form section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
body main .row form button {
  font-size: 0.8em;
}
body main .main {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, min(100%, 30rem));
  place-items: start;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
}
body main .main .tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
body main .main .tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
  background: var(--shadow);
  color: var(--font);
}
body main .main .tab__content a {
  color: var(--link);
}
body main .main .tab input:checked ~ .tab__content {
  max-height: 10rem;
}
body main .main .accordion {
  color: var(--theme);
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 10;
}
body main .main .accordion .tab__label,
body main .main .accordion .tab__close {
  display: flex;
  color: white;
  background: var(--theme);
  cursor: pointer;
}
body main .main .accordion .tab__label {
  justify-content: space-between;
  padding: 1rem;
}
body main .main .accordion .tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
body main .main .accordion .tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
body main .main .accordion .tab__content p {
  margin: 0;
  padding: 1rem;
}
body main .main .accordion .tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
body main .main .accordion .accordion--radio {
  --theme: var(--secondary);
}
body main .main .accordion .tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce 0.5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-0.25rem);
  }
}
body main .main .accordion .tab {
  padding: 0.5em;
}
body main .main .accordion .tab .tab__label {
  padding: 1em;
  width: 400px;
  font-size: 1.8em;
}
body main .main .accordion .tab .tab__content ul li {
  font-size: 1.4em;
}
body main .main .accordion .newTab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
body main .main .accordion .newTab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
  background: var(--shadow);
  color: var(--font);
}
body main .main .accordion .newTab input:checked ~ .newTab__content {
  max-height: 10rem;
}
body main .main .accordion .newAccordion {
  color: var(--theme);
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 5;
}
body main .main .accordion .newAccordion .newTab__label,
body main .main .accordion .newAccordion .newTab__close {
  display: flex;
  color: white;
  background: var(--theme);
  cursor: pointer;
}
body main .main .accordion .newAccordion .newTab__label {
  justify-content: space-between;
  padding: 1rem;
}
body main .main .accordion .newAccordion .newTab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
body main .main .accordion .newAccordion .newTab input:checked + .newTab__label::after {
  transform: rotate(270deg);
}
body main .main .accordion .newAccordion .newTab__content p {
  margin: 0;
  padding: 1rem;
}
body main .main .accordion .newAccordion .newTab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
body main .main .accordion .newAccordion .newAccordion--radio {
  --theme: var(--secondary);
}
body main .main .accordion .newAccordion .newTab input:not(:checked) + .newTab__label:hover::after {
  animation: bounce 0.5s infinite;
}
body main .main .accordion .newAccordion .newTab {
  padding: 0.5em;
}
body main .main .accordion .newAccordion .newTab .newTab__label {
  padding: 1em;
  width: 400px;
  font-size: 1.8em;
}
body main .main .accordion .newAccordion .newTab .newTab__content ul li {
  font-size: 1.4em;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25em 1.75em #B8A25475;
  width: 90%;
  padding: 1em;
  margin-top: 2em;
  background-color: #9A9A9A75;
}
