@import './base/base.less';
// @import './according.less';

body {
    .flexcolumn();
    width: 95%;
    background-image: url('../img/hex.png');
    // background-repeat: no-repeat;
    // background-size: cover;

    header {
        .flexcolumn();
        .highShadow();
        width: 90%;
        padding: 1em;
        margin-top: 1em;
        background-color: @backgroundShadow;

        .row {
            .flexrow();
            width: 100%;
            justify-content: space-between;
            
            img {
                max-width: 150px;
            }

            nav {
                .flexrow();
            }
        }
        
    }
    main {
        .flexcolumn();
        width: 90%;
        margin-top: .5em;
        margin-bottom: .5em;

        .policy {
            .flexcolumn();
            background-color: @background;
            width: 100%;
            padding: 1em;
            flex-wrap: wrap;

            .column {
                .flexcolumn();
            }
        }
        .row {
            .flexrow();
            width: 95%;

            #reg {
                display: none;
            }

            button {
                font-size: 1.2em;
            }

            form {
                .flexcolumn();
                font-size: 1.4em;
                margin: 1em;

                section {
                    .flexcolumn();
                    // padding: .5em;
                    margin: .5em;
                }
                button {
                    font-size: .8em;
                }
            }
        }
        .main {
            display: grid;
            place-content: center;
            grid-template-columns: repeat(auto-fit, min(100%, 30rem));
            place-items: start;
            gap: 1rem;
            margin: 0;
            padding: 1rem;

            .tab input {
                position: absolute;
                opacity: 0;
                z-index: -1;
            }
            .tab__content {
            max-height: 0;
            overflow: hidden;
            transition: all 0.35s;
            background: var(--shadow);
            color: var(--font);
        
            a {
                color: var(--link);
            }
            }
            .tab input:checked ~ .tab__content {
            max-height: 10rem;
            }

            .accordion {
                color: var(--theme);
                border: 2px solid;
                border-radius: 0.5rem;
                overflow: hidden;
                z-index: 10;
    
                .tab__label, .tab__close {
                    display: flex;
                    color: white;
                    background: var(--theme);
                    cursor: pointer;
                }
                .tab__label {
                    justify-content: space-between;
                    padding: 1rem;
                }
                .tab__label::after {
                    content: "\276F";
                    width: 1em;
                    height: 1em;
                    text-align: center;
                    transform: rotate(90deg);
                    transition: all 0.35s;
                }
                .tab input:checked + .tab__label::after {
                    transform: rotate(270deg);
                }
                .tab__content p {
                    margin: 0;
                    padding: 1rem;
                }
                .tab__close {
                justify-content: flex-end;
                padding: 0.5rem 1rem;
                font-size: 0.75rem;
                }
                .accordion--radio {
                --theme: var(--secondary);
                }
                .tab input:not(:checked) + .tab__label:hover::after {
                    animation: bounce .5s infinite;
                }
                @keyframes bounce {
                25% {
                    transform: rotate(90deg) translate(.25rem);
                }
                75% {
                    transform: rotate(90deg) translate(-.25rem);
                }
                }
                .tab {
                    padding: .5em;
    
                    .tab__label {
                        padding: 1em;
                        width: 400px;
                        font-size: 1.8em;
                    }
                    .tab__content {
                        ul {
                            li {
                                font-size: 1.4em;
                            }
                        }
                    }
                }
                .newTab input {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;
                }
                .newTab__content {
                    max-height: 0;
                    overflow: hidden;
                    transition: all 0.35s;
                    background: var(--shadow);
                    color: var(--font);
                }
                .newTab input:checked ~ .newTab__content {
                    max-height: 10rem;
                    }

                .newAccordion {
                    color: var(--theme);
                    border: 2px solid;
                    border-radius: 0.5rem;
                    overflow: hidden;
                    z-index: 5;

                    .newTab__label, .newTab__close {
                        display: flex;
                        color: white;
                        background: var(--theme);
                        cursor: pointer;
                    }
                    .newTab__label {
                        justify-content: space-between;
                        padding: 1rem;
                    }
                    .newTab__label::after {
                        content: "\276F";
                        width: 1em;
                        height: 1em;
                        text-align: center;
                        transform: rotate(90deg);
                        transition: all 0.35s;
                    }
                    .newTab input:checked + .newTab__label::after {
                        transform: rotate(270deg);
                    }
                    .newTab__content p {
                        margin: 0;
                        padding: 1rem;
                    }
                    .newTab__close {
                        justify-content: flex-end;
                        padding: 0.5rem 1rem;
                        font-size: 0.75rem;
                    }
                    .newAccordion--radio {
                        --theme: var(--secondary);
                    }
                    .newTab input:not(:checked) + .newTab__label:hover::after {
                        animation: bounce .5s infinite;
                    }
                    .newTab {
                        padding: .5em;
        
                        .newTab__label {
                            padding: 1em;
                            width: 400px;
                            font-size: 1.8em;
                        }
                        .newTab__content {
                            ul {
                                li {
                                    font-size: 1.4em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .flexcolumn();
        .highShadow();
        width: 90%;
        padding: 1em;
        margin-top: 2em;
        background-color: @backgroundShadow;
    }
}




@import './base/media.less';