.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.priShadow {
  box-shadow: 0 0.25em 0.75em #22709375;
}
.priShadowInset {
  box-shadow: 0 0 1em 0.06em #22709375 inset;
}
.secShadow {
  box-shadow: 0 0.25em 0.75em #ff525275;
}
.secShadowInset {
  box-shadow: 0 0 1em 0.06em #ff525275 inset;
}
.bgShadow {
  box-shadow: 0 0.25em 0.75em #9A9A9A75;
}
.bgShadowInset {
  box-shadow: 0 0 1em 0.06em #9A9A9A75 inset;
}
.highShadow {
  box-shadow: 0 0.25em 1.75em #B8A25475;
}
.highShadowInset {
  box-shadow: 0 0 1em 0.06em #B8A25475 inset;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-image: url('../img/hex.png');
  background-repeat: no-repeat;
  background-size: cover;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25em 1.75em #B8A25475;
  width: 90%;
  padding: 1em;
  margin-top: 1em;
  background-color: #9A9A9A75;
}
body header .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
body header .row img {
  max-width: 150px;
}
body header .row nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25em 1.75em #B8A25475;
  width: 90%;
  padding: 1em;
  margin-top: 2em;
  background-color: #9A9A9A75;
}
