.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:root {
  --primary: #227093;
  --secondary: #ff5252;
  --background: #eee;
  --highlight: #ffda79;
  --shadow: #9a9a9a;
  --font: #FE0AFA;
  --link: #1CF432;
  /* Theme color */
  --theme: var(--primary);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.priShadow {
  box-shadow: 0 0.25em 0.75em #22709375;
}
.priShadowInset {
  box-shadow: 0 0 1em 0.06em #22709375 inset;
}
.secShadow {
  box-shadow: 0 0.25em 0.75em #ff525275;
}
.secShadowInset {
  box-shadow: 0 0 1em 0.06em #ff525275 inset;
}
.bgShadow {
  box-shadow: 0 0.25em 0.75em #9A9A9A75;
}
.bgShadowInset {
  box-shadow: 0 0 1em 0.06em #9A9A9A75 inset;
}
.highShadow {
  box-shadow: 0 0.25em 1.75em #B8A25475;
}
.highShadowInset {
  box-shadow: 0 0 1em 0.06em #B8A25475 inset;
}
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/newscycle/v23/CSR64z1Qlv-GDxkbKVQ_fOAKSA.ttf) format('truetype');
}
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/newscycle/v23/CSR54z1Qlv-GDxkbKVQ_dFsvWNRevA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lobster/v30/neILzCirqoswsqX9zoKmNg.ttf) format('truetype');
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}
h3 {
  margin-top: 0;
  font-weight: 300;
}
.container {
  max-width: 40em;
  margin: 10px auto;
}
.ac-label {
  font-weight: 700;
  position: relative;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  display: block;
  cursor: pointer;
  background-color: whiteSmoke;
  transition: background-color 0.15s ease-in-out;
}
.ac-input:checked + .ac-label,
.ac-label:hover {
  background-color: pink;
}
.ac-label:after,
.ac-input:checked + .ac-label:after {
  content: "+";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 2em;
  height: 100%;
  line-height: 2.25em;
  text-align: center;
  background-color: #e5e5e5;
  transition: background-color 0.15s ease-in-out;
}
.ac-label:hover:after,
.ac-input:checked + .ac-label:after {
  background-color: #b5b5b5;
}
.ac-input:checked + .ac-label:after {
  content: "-";
}
.ac-input {
  display: none;
}
.ac-text,
.ac-sub-text {
  opacity: 0;
  height: 0;
  margin-bottom: 0.5em;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
}
.ac-input:checked ~ .ac-text,
.ac-sub .ac-input:checked ~ .ac-sub-text {
  opacity: 1;
  height: auto;
}
.ac-sub .ac-label {
  background: none;
  font-weight: 600;
  padding: 0.5em 2em;
  margin-bottom: 0;
}
.ac-sub .ac-label:checked {
  background: none;
  border-bottom: 1px solid whitesmoke;
}
.ac-sub .ac-label:after,
.ac-sub .ac-input:checked + .ac-label:after {
  left: 0;
  background: none;
}
.ac-sub .ac-input:checked + .ac-label,
.ac-sub .ac-label:hover {
  background: none;
}
.ac-sub-text {
  padding: 0 1em 0 2em;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-image: url('../img/hex.png');
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25em 1.75em #B8A25475;
  width: 90%;
  padding: 1em;
  margin-top: 1em;
  background-color: #9A9A9A75;
}
body header .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
body header .row img {
  max-width: 150px;
}
body header .row nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
body main .policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9A9A9A;
  width: 100%;
  padding: 1em;
  flex-wrap: wrap;
}
body main .policy .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main .row #reg {
  display: none;
}
body main .row button {
  font-size: 1.2em;
}
body main .row form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  margin: 1em;
}
body main .row form section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
body main .row form button {
  font-size: 0.8em;
}
body main .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25em 1.75em #B8A25475;
  width: 90%;
  padding: 1em;
  margin-top: 2em;
  background-color: #9A9A9A75;
}
