@import './base/base.less';
@import './according.less';

body {
    .flexcolumn();
    width: 95%;
    background-image: url('../img/hex.png');
    // background-repeat: no-repeat;
    // background-size: cover;

    header {
        .flexcolumn();
        .highShadow();
        width: 90%;
        padding: 1em;
        margin-top: 1em;
        background-color: @backgroundShadow;

        .row {
            .flexrow();
            width: 100%;
            justify-content: space-between;
            font-family: Lobster;
            font-weight: normal;
            
            img {
                max-width: 150px;
            }

            nav {
                .flexrow();
            }
        }
        
    }
    main {
        .flexcolumn();
        width: 90%;
        margin-top: .5em;
        margin-bottom: .5em;

        .policy {
            .flexcolumn();
            background-color: @background;
            width: 100%;
            padding: 1em;
            flex-wrap: wrap;

            .column {
                .flexcolumn();
            }
        }
        .row {
            .flexrow();
            width: 95%;

            #reg {
                display: none;
            }

            button {
                font-size: 1.2em;
            }

            form {
                .flexcolumn();
                font-size: 1.4em;
                margin: 1em;

                section {
                    .flexcolumn();
                    // padding: .5em;
                    margin: .5em;
                }
                button {
                    font-size: .8em;
                }
            }
        }
        .main {
            .flexcolumn();
            width: 100%;
            margin-top: 2em;

            .ac {
                .flexcolumn();
                width: 85%;
                
                .ac-label {
                    width: 100%;
                    font-family: Lobster;
                    font-weight: normal;
                    font-size: 1.8em;
                    position: relative;
                    padding: .5em 1em;
                    margin-bottom: .5em;
                    display: block;
                    cursor: pointer;
                    background-color: var(--shadow);
                    transition: background-color .15s ease-in-out;
                    color: @green;
                }
                .ac-input:checked + label, .ac-label:hover {
                    background-color: @purple;
                }
                .ac-label:after, .ac-input:checked + .ac-label:after {
                    content: "+";
                    position: absolute;
                    display: block;
                    right: 0;
                    top: 0;
                    width: 2em;
                    height: 100%;
                    line-height: 2.25em;
                    text-align: center;
                    background-color: @highlight;
                    transition: background-color .15s ease-in-out;
                }

                .ac-label:hover:after, .ac-input:checked + .ac-label:after {
                    background-color: var(--shadow);
                }
                .ac-input:checked + .ac-label:after {
                    content: "-";
                }
                .ac-input {
                    display: none;
                }
                .ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text { 
                    opacity: 1;
                    height: auto;
                }
                .ac-text {
                    .flexcolumn();
                    width: 85%;
                    opacity: 0;
                    height: 0;
                    margin-bottom: .5em;
                    transition: opacity .5s ease-in-out;
                    overflow: hidden;

                    .ac-sub {
                        .flexcolumn();
                        width: 85%;
                        background-color: @highlight;
                        
                        .ac-label {
                            background: none;
                            font-weight: 600;
                            padding: .5em 2em;
                            margin-bottom: 0;
                        }
                        .ac-label:checked {
                            background: none;
                            border-bottom: 1px solid whitesmoke;
                        }
                        .ac-label:after, .ac-input:checked + .ac-label:after {
                            left: 0;
                            background: none;
                        }
                        .ac-input:checked + label, .ac-label:hover {
                        background: none;
                    }
                        
                        .ac-sub-text {
                            .flexcolumn();
                            width: 85%;
                            opacity: 0;
                            height: 0;
                            margin-bottom: .5em;
                            transition: opacity .5s ease-in-out;
                            overflow: hidden;

                            p {
                                font-family: "News Cycle";
                                font-size: 1.3em;

                                a {
                                    color: var(--primary);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .flexcolumn();
        .highShadow();
        width: 90%;
        padding: 1em;
        margin-top: 2em;
        background-color: @backgroundShadow;
    }
}




@import './base/media.less';