.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:root {
  --primary: #227093;
  --secondary: #ff5252;
  --background: #eee;
  --highlight: #ffda79;
  --shadow: #9a9a9a;
  --font: #FE0AFA;
  --link: #1CF432;
  /* Theme color */
  --theme: var(--primary);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.priShadow {
  box-shadow: 0 0.25em 0.75em #22709375;
}
.priShadowInset {
  box-shadow: 0 0 1em 0.06em #22709375 inset;
}
.secShadow {
  box-shadow: 0 0.25em 0.75em #ff525275;
}
.secShadowInset {
  box-shadow: 0 0 1em 0.06em #ff525275 inset;
}
.bgShadow {
  box-shadow: 0 0.25em 0.75em #9A9A9A75;
}
.bgShadowInset {
  box-shadow: 0 0 1em 0.06em #9A9A9A75 inset;
}
.highShadow {
  box-shadow: 0 0.25em 1.75em #B8A25475;
}
.highShadowInset {
  box-shadow: 0 0 1em 0.06em #B8A25475 inset;
}
